<% layout('./boilerplate') %>

<h1>Edit Map</h1>

<form class="col-4" action="/map/<%= map.id %>" method="POST">
    <div class="form-group">
        <label for="title"><h2>Title of your plan</h2></label>
        <input type="text" id="title" name="map[title]" class="form-control mb-3" value="<%= map.title %>" required />
        <label for="description"><h2>Description</h2></label>
        <input type="text" id="description" name="map[description]" class="form-control mb-3" value="<%= map.description %>" required />
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>